---
layout: default
isArchive: true
---
<title>Archives-{{ site.title }}</title>
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <article class="main-article main-article-page">

        <h2>All {{ site.posts | size }} Posts is here.</h2>
        <hr>
        <div class="violet-post">
            <div class="main-article-contant">

                {% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
                <h3><a style ="color:#777">{{ post_year1 }}</a></h3>
                <ul class="article-year fn-clear">
                    {% for post in site.posts %}
                        {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
                        {% if post_year1 != post_year2 %}
                            {% assign post_year1 = post_year2 %}
                </ul>
                <h3>{{ post_year1 }}</h3>
                <ul class="article-year fn-clear">
                        {% endif %}
                    <li style ="color:#777">
                        <span><a style ="color:#777">{{ post.date | date_to_utc | date: '%Y-%m-%d' }}</a></span>

                        <a href="{{ post.url | prepend: site.baseurl }}" style="color:#a6a0ff">{{ post.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <hr>
    </article>
    </div>
    </div>
    </div>