---
layout: page
---
<title>Blog-{{site.title}}</title>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>

            {% if post.tags %}
                <ul class="list-unstyled list-inline">
                {% for tag in post.tags %}
                <li><span class="label label-info">
                    {{ tag }}
                </span></li>
                {% endfor %}
                </ul>
            {% endif %}


    <p class="post-meta">
        <a style="color:#777">Posted by</a>
        <a style="color:#a6a0ff">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</a>
        <a style="color:#777">on {{ post.date | date: "%B %-d, %Y" }}</a>
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages  %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% else %}
    <li class="previous disabled">
        <a href="#">&larr; Newer </a>
    </li>
    {% endif %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% else %}
        <li class="next disabled"><a href="#">Older &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}
